.imageDiv img {
  
   /*Try to add the styling where it adjusts the size of the element instead of the externals*/
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
   max-width: 90%;
   max-height: 300px;
}

img{
    height: 30 px;
    width: 30 px;
}
.imageDiv{
    display: inline-block;
    width: 30%;
}

